<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <title>OpenCV Webcam Live</title>
</head>
<script type = "text/javascript" src="/eel.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<body>
    {% block content %}
    {% endblock %}
</body>
</html>
{% block scripts %}
{% endblock %}
<script type = "text/javascript" src="../js/py_eel.js"></script>
<script type = "text/javascript" src="../js/jquery.js"></script>
